#header {
  background: #ff0000;
}

#intro {
background-color: #00ffff;
}

#one {
background-color: #ff00ff;
}

#two {
background-color: #00ff00;
}

#work {
background-color: #ff0000;
}

#contact {
background-color: #00ffff;
}

#footer {
  background-color: #1299ff;
}